*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url('../images/Purple_and_Pink_Playful_Yes_or_No_Game_Presentation.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }

  .card {
    display: flex;
    height: 500px;
    width: 800px;
    justify-content: center;
    padding: 30px;
    border-radius: 40px;
    position: relative;
  }
  .card img {
    border-radius: 10px;
  }
  .card button{
    position: absolute;
    top: 75%;
    background-color: #fff;
    padding: 14px 20px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid #fff;
    color: rgb(125, 125, 247);
}

.start:hover {
    background-color: #faa7ae;
    color: #fff;
  }