@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url(../images/Purple_and_Pink_Playful_Yes_or_No_Game_Presentation_1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.quiz-container{
  width: 700px;
  overflow: hidden;
  padding: 20px;
}

h1{
  padding: 5px;
  text-align: center;
  margin-top: 10px;
}

h3{
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

p{
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
}
.btns{
  display: flex;
  justify-content: space-evenly;
  
}
.cssbtn{
  background-color: #3e4188;
  color: #fff;
  width: 50px;
  cursor: pointer;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.cssbtn:hover{
background-color: #faa7ae;
}
.cssbtn:focus{
outline: none;
background-color: #44b927;
}
#cssbtn{
  background-color: #3e4188;
  color: #fff;
  width: 50px;
  cursor: pointer;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

#cssbtn:hover{
background-color: #faa7ae;
}
#cssbtn:focus{
outline: none;
background-color: #44b927;
}