* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
    background-image: url('../images/winner.png');
    background-repeat: no-repeat;
    background-size: cover;

    & > div#winner {
        width: 100%;
        height: 100%;
        display: grid;
        place-content: center;
        
        & > div.text {
            width: 100%;
            padding: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            & > h1 {
                color: white;
                background-color: rgb(89, 89, 182);
                padding: 5px 25px;
                border-top-left-radius: 7px;
            }
        }

        & > img {
            width: 500px;
        }

        & > div.btns {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            & > button {
                width: 70px;
                margin-left: 10px;
                background-color: #fff;
                padding: 5px;
                border-radius: 8px;
                font-size: 15px;
                font-weight: 700;
                cursor: pointer;
                border: 2px solid #fff;
                color: rgb(125, 125, 247);
            }
            & > button:hover {
                background-color: #faa7ae;
                color: #fff;
            }
        }

        /* & > div.content {
            width: 300px;
            height: 250px;
            display: grid;
            place-content: center;

            & > div.text {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                & > h2 {
                    color: white;
                    background-color: rgb(89, 89, 182);
                    padding: 5px 25px;
                    border-top-left-radius: 7px;
                }
            }

            & > img {
                width: 300px;
            }

            & > div.btns {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                & > button {
                    width: 50px;
                    margin-left: 10px;
                    background-color: #fff;
                    padding: 5px;
                    border-radius: 8px;
                    font-size: 15px;
                    font-weight: 700;
                    cursor: pointer;
                    border: 2px solid #fff;
                    color: rgb(125, 125, 247);
                }
                & > button:hover {
                    background-color: #faa7ae;
                    color: #fff;
                }
            }
        } */
    }
}